@page "/tablofloor"
@inject HttpClient Http
@using System.Threading
@using System.Net.Http.Formatting
@using TabloBlazorMain.Shared.LastDanceModels
@using TabloBlazorMain.Shared.Models
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.AspNetCore.Components
@using System.Web
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
<head>
    <meta charset="UTF-8" http-equiv="refresh" content="1800">
    <title>TabloFloor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/TabloFloorStyle.css" type="text/css" />
    <style>
        * {
            color: white
        }
    </style>
</head>
<body class="mainBody">
    <video autoplay muted loop>
        <source src="audio/TishinaAudio.mp3" />
    </video>

    <div class="current_date_time">
        <p class="monthP">
            @month
        </p>
        <p class="dateP">
            @date
        </p>
    </div>
    <div class="current_paras_week" style="margin-top:5%; z-index:1">
        <table id="tableT">
            <tr>
                <td width="5%">Кабинет</td>
                <td width="5%">Группа</td>
                <td width="45%">Дисциплина</td>
                <td width="12%">Преподаватель</td>
                <td>Статус кабинета</td>
            </tr>
            @foreach (var model in DayWeeks)
            {
                <tr>
                    <td width="5%" style="font-size:1.5em">
                        <button @onmousedown="@(e=> ClickCabinet(e, model.cabinet))" data-html="true" type="button" data-bs-trigger="manual" class="btn btn-lg btn-danger" data-toggle="popover" data-typeNgin="cabinet" data-bs-title=@model.cabinet data-bs-content=@cabinets>
                            @model.cabinet
                        </button>
                    </td>
                    <td width="5%" style="font-size:1.5em">
                        <button @onmousedown="@(e=> ClickGroup(e, model.group))" data-html="true" type="button" data-bs-trigger="manual" class="btn btn-lg btn-danger" data-toggle="popover" data-typeNgin="group" data-bs-title=@model.group data-bs-content=@groups>
                            @model.group
                        </button>
                    </td>
                    <td width="45%" class="dec" style="font-size:1.5em">@((MarkupString)model.GetDeciplineWithVerify(teachers))</td>
                    <td width="12%" style="font-size:1.5em">
                        <button @onmousedown="@(e=> ClickTeacher(e, model.teacher(teachers)))" data-html="true" type="button" data-bs-trigger="manual" class="btn btn-lg btn-danger" data-toggle="popover" data-typeNgin="teacher" data-bs-title=@model.teacher(teachers) data-bs-content=@teachs>
                            @model.teacher(teachers)
                        </button>
                    </td>
                    <td>
                        @((MarkupString)model.pp)<br />@((MarkupString)model.gr1)<br />@((MarkupString)model.dec1)
                    </td>
                </tr>
            }
            @{
                LoadAccept();
            }
        </table>
    </div>
    <div class="current_week_name">
        <p>
            @weekName
        </p>
    </div>
    <div class="current_weather">
        @weather
    </div>
    <div class="current_admin">
        <p class="currentAdminTextP">
            Дежурный администратор:
        </p>
        <p class="currentAdminSelAdminP">
            @selectedAdmin
        </p>
    </div>
    <div class="current_para">
        <p class="current_paraLabelPara">
            @update.labelPara
        </p>
        <p class="current_paraNumberPara">
            @update.tbNumberPara
        </p>
    </div>
     <section class="help-links">
        <div style="">
            4 этаж
        <a href="/tablofloor?floor=4&corp=1" onclick='window.location.href="/tablofloor?floor=4&corp=1"'>1 корпус</a>
        <a href="/tablofloor?floor=4&corp=2" onclick='window.location.href="/tablofloor?floor=4&corp=2"'>2 корпус</a>
        </div>
        <div style="">
            3 этаж
        <a href="/tablofloor?floor=3&corp=1" onclick='window.location.href="/tablofloor?floor=3&corp=1"'>1 корпус</a>
        <a href="/tablofloor?floor=3&corp=2" onclick='window.location.href="/tablofloor?floor=3&corp=2"'>2 корпус</a>
        </div>
        <div style="">
            2 этаж
        <a href="/tablofloor?floor=2&corp=1" onclick='window.location.href="/tablofloor?floor=2&corp=1"'>1 корпус</a>
        <a href="/tablofloor?floor=2&corp=2" onclick='window.location.href="/tablofloor?floor=2&corp=2"'>2 корпус</a>
        </div>
        <div style="">
            1 этаж
        <a href="/tablofloor?floor=1&corp=1" onclick='window.location.href="/tablofloor?floor=1&corp=1"'>1 корпус</a>
        </div>
    </section>
</body>


@code {
    [Parameter]
    public string floor { get; set; }
    [Parameter]
    public string corp { get; set; }
    private HubConnection hubConnection;
    public string date { get; set; }
    public string month { get; set; }
    public int count { get; set; }
    public string weekName { get; set; }
    public string weather { get; set; }
    public string teachs { get; set; }
    public string groups { get; set; }
    public string cabinets { get; set; }
    public string selectedAdmin { get; set; }

    Microsoft.AspNetCore.Html.HtmlString html { get; set; }

    private IJSObjectReference module;
    public List<string> teachers { get; set; }
    RequestForDynamicUpdate update { get; set; } = new RequestForDynamicUpdate();
    public List<TabloBlazorMain.Shared.LastDanceModels.FloorCabinet> floorCabinets = new List<TabloBlazorMain.Shared.LastDanceModels.FloorCabinet>();
    public List<TabloBlazorMain.Shared.LastDanceModels.DayWeekClass> DayWeeks = new List<TabloBlazorMain.Shared.LastDanceModels.DayWeekClass>();

    async Task ClickTeacher(MouseEventArgs e, string teach)
    {
        teachs = "";
        var response = await Http.GetAsync($"api/LastDance/getteacher/{teach}");
        response.EnsureSuccessStatusCode();
        foreach (var item in response.Content.ReadAsAsync<List<FullDayWeekClass>>().Result.FirstOrDefault().dayWeekClasses)
        {
            string dot = ". ";
            if (item.Number == null)
                dot = "";
            teachs += item.Number + dot + item.GetDeciplineWithVerify(teachers) + "<br>" + item.group + " " + item.cabinet + "<br>";
        }
        StateHasChanged();
        await module.InvokeVoidAsync("clickTeacher", teach);
    }

    async Task ClickGroup(MouseEventArgs e, string group)
    {
        groups = "";
        var response = await Http.GetAsync($"api/LastDance/getgroup/{group}");
        response.EnsureSuccessStatusCode();
        foreach (var item in response.Content.ReadAsAsync<List<FullDayWeekClass>>().Result.FirstOrDefault().dayWeekClasses)
        {
             string dot = ". ";
            if (item.Number == null)
                dot = "";
            groups += item.Number + dot + item.GetDeciplineWithVerify(teachers) + "<br>" + item.teacher(teachers) + " " + item.cabinet + "<br>";
        }
        StateHasChanged();
        await module.InvokeVoidAsync("clickTeacher", group);
    }

    async Task ClickCabinet(MouseEventArgs e, string cabinet)
    {
        cabinets = "";
        var response = await Http.GetAsync($"api/LastDance/getcabinet/{cabinet}");
        response.EnsureSuccessStatusCode();
        foreach (var item in response.Content.ReadAsAsync<List<FullDayWeekClass>>().Result.FirstOrDefault().dayWeekClasses)
        {
             string dot = ". ";
            if (item.Number == null)
                dot = "";
            cabinets += item.Number + dot + item.GetDeciplineWithVerify(teachers) + "<br>" + item.teacher(teachers) + " " + item.group + "<br>";
        }
        StateHasChanged();
        await module.InvokeVoidAsync("clickTeacher", cabinet);
    }

    protected override async Task OnInitializedAsync()
    {
        module = await JSRuntime.InvokeAsync<IJSObjectReference>(
     "import", "/AnimaAnouncment.js");
        hubConnection = new HubConnectionBuilder().WithUrl(NavigationManager.ToAbsoluteUri("/GoodHubGbl")).WithAutomaticReconnect().Build();
        hubConnection.On<string>("SendWeather", async (message) =>
        {
            weather = message;
            var response = await Http.GetAsync($"api/LastDance/getteacherslist");
            response.EnsureSuccessStatusCode();
            teachers = response.Content.ReadAsAsync<List<string>>().Result;
            StateHasChanged();
        });
        hubConnection.On<string>("SendWeekName", (message) =>
        {
            weekName = message;
            StateHasChanged();
        });
        hubConnection.On<string>("SendAdmin", (message) =>
        {
            selectedAdmin = message;
            month = DateTime.Now.ToString("dd MMMM");
            StateHasChanged();
        });
        month = DateTime.Now.ToString("dd MMMM");
        hubConnection.On<RequestForDynamicUpdate>("SendRequest", (message) =>
        {
            try
            {
                if (count == 10)
                {
                    getParasTableDate();
                    count = 0;
                }
                update = message;
                date = update.timeNow;
                count += 1;
                StateHasChanged();
            }
            catch
            {

            }
        });
        await getMainUpdate();
        await getParasTableDate();
        getWeather();
        getWeekName();
        getAdmins();
        await module.InvokeVoidAsync("blink");

        await hubConnection.StartAsync();
    }

    string getColor(Para pr)
    {
        if (pr.runningNow)
            return "rgb(167,51,247)";
        else
            return "transparent";
    }

    string getFullHeight(List<Para> paras)
    {
        double height = 0;
        foreach (var lv in paras)
        {
            height += 100 / @update.grLineHeight * lv.height * 1.1;
        }
        return (height + "%").Replace(',', '.');
    }

    private async void getWeather()
    {
        try
        {
            var response = await Http.GetAsync("TabloApi/weather");
            response.EnsureSuccessStatusCode();
            var str = response.Content.ReadAsStringAsync().Result;
            weather = str.Replace("'", "");
            var response1 = await Http.GetAsync($"api/LastDance/getteachersList");
            response1.EnsureSuccessStatusCode();
            teachers = response1.Content.ReadAsAsync<List<string>>().Result;
        }
        catch (Exception ex)
        { Console.WriteLine(ex.Message); }
    }
    private async void getWeekName()
    {
        try
        {
            var response = await Http.GetAsync("TabloApi/weekName");
            response.EnsureSuccessStatusCode();
            var str = response.Content.ReadAsStringAsync().Result;
            weekName = str.Replace("'", "");
        }
        catch (Exception ex)
        { Console.WriteLine(ex.Message); }
    }
    private async void getAdmins()
    {
        try
        {
            var response = await Http.GetAsync("TabloApi/admins");
            response.EnsureSuccessStatusCode();
            var str = response.Content.ReadAsStringAsync().Result;
            selectedAdmin = str.Replace("\n", "<wbr/>");
        }
        catch (Exception ex)
        { Console.WriteLine(ex.Message); }
    }
    private async Task getMainUpdate()
    {
        try
        {
            var response = await Http.GetAsync("TabloApi/update");
            response.EnsureSuccessStatusCode();
            update = response.Content.ReadAsAsync<RequestForDynamicUpdate>().Result;
            date = update.timeNow;

        }
        catch { }
    }
    private async Task getParasTableDate()
    {
        try
        {
            var query = new Uri(NavigationManager.Uri).Query;
            corp = HttpUtility.ParseQueryString(query).Get("corp");
            floor = HttpUtility.ParseQueryString(query).Get("floor");
            var response = await Http.PostAsync($"api/LastDance/getFloorShedule", new TabloBlazorMain.Shared.LastDanceModels.PostFloorModel { floor = floor + corp, count = update.lvTime.Count(), paraNow = update.paraNow, CHKR = update.lv }, new JsonMediaTypeFormatter());
            response.EnsureSuccessStatusCode();
            DayWeeks = response.Content.ReadAsAsync<List<TabloBlazorMain.Shared.LastDanceModels.DayWeekClass>>().Result;
            module = await JSRuntime.InvokeAsync<IJSObjectReference>(
    "import", "/AnimaAnouncment.js");
            await module.InvokeVoidAsync("blink");

        }
        catch { }
    }

    private async Task LoadAccept()
    {
        await module.InvokeVoidAsync("poppersLoad");
    }
}
